# Fill in the minimum CMake options that are needed to build and link
# that are common to all builds such as the following:
#
#-DCMAKE_VERBOSE_MAKEFILE:BOOL=ON
#-DBUILD_SHARED:BOOL=ON
#-DTPL_BLAS_LIBRARIES:PATH=/usr/local/libblas.a
#-DTPL_LAPACK_LIBRARIES:PATH=/usr/local/liblapack.a
#
# NOTE: Please do not add any options here that would select what packages
# get enabled or disabled.
-D Trilinos_ENABLE_EXPLICIT_INSTANTIATION=ON
-D BUILD_SHARED_LIBS=ON
-D TPL_ENABLE_HDF5=OFF
-D TPL_ENABLE_ParMETIS=OFF
-D TPL_ENABLE_Netcdf=OFF
-D TPL_ENABLE_SuperLU=OFF
