-D TPL_ENABLE_MPI:BOOL=ON
-D MPI_BASE_DIR=/home/aprokop/local/opt/openmpi-1.8.3/

-D CMAKE_BUILD_TYPE:STRING=DEBUG

-D TPL_ENABLE_Boost:BOOL=OFF

-D Trilinos_ENABLE_SECONDARY_STABLE_CODE=ON

-D Trilinos_ENABLE_ForTrilinos:BOOL=OFF
-D Trilinos_ENABLE_MOOCHO:BOOL=OFF
-D Trilinos_ENABLE_Panzer:BOOL=OFF
-D Trilinos_ENABLE_Phalanx:BOOL=OFF
-D Trilinos_ENABLE_PyTrilinos:BOOL=OFF
-D Trilinos_ENABLE_Rythmos:BOOL=OFF
-D Trilinos_ENABLE_STK:BOOL=OFF
-D Trilinos_ENABLE_Sundance:BOOL=OFF
-D TPL_ENABLE_Netcdf:BOOL=OFF
